@import "../presets/colors.scss";

:root {
  --primary-darker: #{$blue-darker};
  --primary-dark: #{$blue-dark};
  --primary-base: #{$blue-base};
  --primary-light: #{$blue-light};
  --primary-lighter: #{$blue-lighter};

  --bg-900: #{$neutral-900};
  --bg-700: #{$neutral-700};
  --bg-200: #{$neutral-200};
  --bg-100: #{$neutral-100};
  --bg-0: #{$neutral-0};

  --text-900: #{$neutral-900};
  --text-500: #{$neutral-500};
  --text-400: #{$neutral-400};
  --text-300: #{$neutral-300};
  --text-0: #{$neutral-0};

  --stroke-900: #{$neutral-900};
  --stroke-300: #{$neutral-300};
  --stroke-200: #{$neutral-200};
  --stroke-100: #{$neutral-100};
  --stroke-0: #{$neutral-0};

  --icon-900: #{$neutral-900};
  --icon-500: #{$neutral-500};
  --icon-400: #{$neutral-400};
  --icon-300: #{$neutral-300};
  --icon-0: #{$neutral-0};

  --state-success: #{$green-base};
  --state-warning: #{$orange-base};
  --state-error: #{$red-base};
  --state-info: #{$blue-base};
  --state-away: #{$yellow-base};
  --state-feature: #{$purple-base};
  --state-neutral: #{$neutral-400};
  --state-verified: #{$teal-base};
}