$white: #fff;
$black: #000;

$neutral-900: #0a0d14;
$neutral-800: #161922;
$neutral-700: #20232d;
$neutral-600: #31353f;
$neutral-500: #525866;
$neutral-400: #868c98;
$neutral-300: #cdd0d5;
$neutral-200: #e2e4e9;
$neutral-100: #f6f8fa;
$neutral-50: #fafbfc;
$neutral-0: #ffffff;

$blue-darker: #162664;
$blue-dark: #253ea7;
$blue-base: #375dfb;
$blue-light: #c2d6ff;
$blue-lighter: #ebf1ff;

$orange-darker: #6e330c;
$orange-dark: #c2540a;
$orange-base: #f17b2c;
$orange-light: #ffdac2;
$orange-lighter: #fef3eb;

$yellow-darker: #693d11;
$yellow-dark: #b47818;
$yellow-base: #f2ae40;
$yellow-light: #fbdfb1;
$yellow-lighter: #fef7ec;

$red-darker: #710e21;
$red-dark: #af1d38;
$red-base: #df1c41;
$red-light: #f8c9d2;
$red-lighter: #fdedf0;

$green-darker: #176448;
$green-dark: #2d9f75;
$green-base: #38c793;
$green-light: #cbf5e5;
$green-lighter: #effaf6;

$purple-darker: #2b1664;
$purple-dark: #5a36bf;
$purple-base: #6e3ff3;
$purple-light: #cac2ff;
$purple-lighter: #eeebff;

$pink-darker: #620f6c;
$pink-dark: #9c23a9;
$pink-base: #e255f2;
$pink-light: #f9c2ff;
$pink-lighter: #fdebff;

$teal-darker: #164564;
$teal-dark: #1f87ad;
$teal-base: #35b9e9;
$teal-light: #c2efff;
$teal-lighter: #ebfaff;
