.action-list-group-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 18px 6px 6px;
  gap: 8px;
  border-radius: 12px;

  @include transition((background-color));

  &-label {
    display: flex;
    flex: 1;
    @extend %paragraph-small;
  }

  &-role {
    color: var(--text-400);
    @extend %subheading-xx-small;
  }

  &-focused {
    background-color: var(--bg-100);
  }

  &:hover {
    background-color: var(--bg-100);
    cursor: pointer;
  }
}
