.quick-actions {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-0);
  border: 1px solid var(--stroke-200);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 100;

  @extend %shadow-medium;
  @include transition((opacity, transform), 0.2s);

  &-content {
    width: 100%;

    height: 200px !important;

    display: flex;
    flex: 1;
    flex-direction: column;

    overflow-y: auto;

    gap: 8px;
    padding: 12px 10px 8px 6px;

    @include transition((height));
  }

  &-animation-enter,
  &-animation-exit {
    opacity: 0;

    &.quick-actions-animation-slide {
      transform: translateY(10px) scale(0.999) translateX(-50%);
    }
  }
}

.action-groups {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  & > *:not(:last-child) {
    padding-bottom: 12px;
    margin-bottom: 12px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--stroke-200);
    }
  }
}

.action-results {
  display: flex;
  flex-direction: column;
  flex: 1;
}
